<!doctype html>
{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>爱乐供文件上传服务器</title>
  <link rel="stylesheet" href='http://static.tongshijia.com/static/imager/css/app.css'>
  <link rel="stylesheet" href='http://static.tongshijia.com/static/weshares/css/bootstrap.min.css'>
  <link rel="stylesheet" href='http://static.tongshijia.com/static/font-awesome-4.4.0/css/font-awesome.min.css'>
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <script type="text/javascript" src="http://static.tongshijia.com/static/weshares/js/jquery.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>