{% extends "imager/base.html" %}
{% load static %}

{% block content %}
<div>
  <h1>上传图片</h1>
  <form class='images-upload-form' action="{% url "imager:upload_images_to" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <input type="hidden" name='token' value="PYS_IMAGES_001">
    <input type="hidden" name='category' value="images/index">
    <div><input type="file" name="images" multiple></div>
    <p><input class="btn btn-info images-upload-btn" type="submit" value="点击上传" onclick=''/></p>
  </form>
</div>

<div class="images-container">
  <h1>已上传图片</h1>
  {% if images %}
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>链接</th>
      <th>图片</th>
    </tr>
    </thead>
    <tbody>
      {% for image in images %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>http://static.tongshijia.com/{{image}}</td>
        <td><img src="http://static.tongshijia.com/{{image}}" style="max-width: 200px;" class="img-thumbnail">
        </td>
      </tr>                        
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>您没有上传任何图片。</p>
  {% endif %}
</div>
  
{%endblock%}

{% block scripts %}
  <script type="text/javascript" src="http://static.tongshijia.com/static/imager/js/upload.js"></script>
{% endblock %}
