{% extends "imager/base.html" %}

{% block content %}
<div class="images-container">
  <h1>已上传图片</h1>
  {% if images %}
    <ul class="images">
    {% for image in images %}
      <li>
        <span>images/{{image}}</span>
        <img class="image" src="http://static.tongshijia.com/images/{{image}}"></img>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>您没有上传任何图片。</p>
  {% endif %}

  <div>
    <h1>上传图片</h1>
    <form action="{% url "imager:upload" %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>{{ form.non_field_errors }}</p>

      <p>
          {{ form.docfile }}
      </p>

      <p><input type="submit" value="点击上传"/></p>
    </form>
  </div>
</div>  
{%endblock%}

